body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-outline-primary {
	border: none;
}

.bit {
	width: 2.1em;
}
.App {
	text-align: left;
}
.bar {
	font-weight: bold;
}

.Gate .btn {
	margin-left: 1em;
	margin-Right: 1em;
	width: 50%;
}